PROJECT_NAME=Movie Rater - Backend
TMDB_API_KEY=MY_API_KEY

SECRET_KEY=CHANGEME
ACCESS_TOKEN_EXPIRE_MINUTES=10080
JWT_ALGORITHM=HS256
JWT_AUDIENCE=movie-rater:auth

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres